* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #103a57;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 140px;
    border: 15px solid #103a57;
    border-radius: 12%;
    animation: box 4s linear infinite;
    animation-delay: 1s;
    box-shadow: 0 0 200px 0 rgb(0, 0, 0), inset 0px 0px 70px 0px rgb(0, 0, 0);
}

@keyframes box {
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
    
}

.ball {
    width: 120px;
    height: 120px;
    box-shadow: -3px 5px 20px 0px rgb(0 0 0), inset -4px -5px 20px 6px rgb(0 0 0);
    border-radius: 50%;
    animation: ball 4s linear infinite;
}

@keyframes ball {
    0% {
        margin: 30% 0%;
    }

    25% {
        margin: 77% 46%;
    }

    50% {
        margin: 46% 77%;
    }

    75% {
        margin: 0% 30%;
    }

    100% {
        margin: 30% 0;
    }
}
.myname{
    font-family: monospace;
    color: rgb(88, 208, 255);
    font-size: 38px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    
}

.myname::before{
    content: " ";
    margin-top: 45px;
    position: absolute;
    width: 350px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.514);
}
.social-link{
    display: flex;
    justify-content:center;
}
.social-link img{
    margin-top: 6px;
    transition: all 0.2s ;
    width: 80px;
}
.social-link img:hover{
    width: 90px;
    opacity: 0.7;
}
@media screen and (max-width:760px) {
   .box{
       margin-top: 100px;
       border: 6px solid #103a57;
       width: 240px;
       height: 240px;
   }
   .ball{
       width: 58px;
       height: 58px;
   }
   .myname{
       font-size: 30px;
   }
   .myname::before{
       width: 300px;
       margin-top: 40px;
   }
   .social-link img{
       width: 60px;
       margin-top: 5px;
   }
   .social-link img:hover{
       width: 70px;
   }
}